# **Bank marketing campaigns**

## Disusun Oleh: 
###             1. CHRISTIAN TJOPUTERA
###             2. Ahmad Zaid Makarim
###             3. Ronny Sahat Martua Purba

## **Business Problem Understanding**

### **Latar Belakang**

Sebuah bank di Portugal - Eropa sedang melakukan **kampanye pemasaran** untuk mempromosikan produk **deposito berjangka (*term deposit*)** kepada calon nasabah. Mereka menggunakan  **panggilan telepon langsung (*direct telemarketing*)** untuk menjangkau nasabah, dan ingin meningkatkan efektivitas kampanye tersebut.

Ini adalah dataset dari kampanye pemasaran bank, biasanya digunakan untuk klasifikasi apakah seorang nasabah akan berlangganan deposito berjangka (y: yes/no).

### **Permasalahan Utama**

Telemarketing adalah metode yang memakan banyak biaya dan waktu, apalagi jika banyak panggilan tidak menghasilkan konversi. Maka, pertanyaan bisnisnya adalah:

**"Bagaimana cara mengidentifikasi nasabah yang berpotensi tertarik untuk berlangganan deposito berjangka sebelum melakukan panggilan telemarketing?"**

### **Tujuan Bisnis**

1. **Meningkatkan efisiensi** kampanye pemasaran telepon.

2. **Mengurangi biaya operasional** dengan meminimalkan panggilan ke nasabah yang kemungkinan besar akan menolak.

3. **Meningkatkan rasio konversi** dari kampanye menjadi pelanggan deposito.

### **Keluaran yang Diinginkan**

Model atau analisis yang dapat:

1. Memprediksi apakah seorang nasabah akan berkata "yes" terhadap penawaran deposito.

2. Memberikan analisa karakteristik nasabah yang lebih cenede 

3. Memberikan rekomendasi segmentasi pelanggan yang lebih berpeluang dikonversi.

### **Nilai Bisnis**

1. **Penghematan biaya marketing**, karena panggilan hanya difokuskan pada target yang potensial.

2. **Efisiensi waktu dan tenaga kerja** dari agen telemarketing.

3. **Peningkatan pendapatan** dari jumlah deposito berjangka yang lebih tinggi.

### **Peran Data Science**
Peran Data Science
Data science dapat membantu dengan:

1. **EDA (*Exploratory Data Analysis*)** untuk memahami karakteristik nasabah yang berkata “yes”.

2. **Model prediksi (*machine learning*)** untuk memfilter target kampanye.

3. ***Insight* visualisasi** untuk mendukung strategi pemasaran berbasis data.

## **Data Understanding**

### **Sumber Data**
Dataset source: https://www.kaggle.com/datasets/volodymyrgavrysh/bank-marketing-campaigns-dataset/code

In [1]:
import pandas as pd

In [2]:
file_path = "../data/bank-additional-full.csv"
df = pd.read_csv(file_path, sep=';')

In [10]:
df_shape = df.shape
df_dtypes = df.dtypes
df_head = df.head()

In [7]:
df_shape

(41188, 21)

In [11]:
df_dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

In [12]:
df_head

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

## **Pemahaman Data**

### **1. Atribut Information**

| Attribute | Data Type | Description |
| --- | --- | --- |
| age | Numerik | Usia klien |
| job | Kategorikal | Jenis Pekerjaan Klien |
| marital | Kategorikal | Status Pernikahan Klien |
| education | Kategorikal | Tingkat pendidikan klien |
| default | Kategorikal | Status kredit klien |
| hosuing | Kategorikal | Status apakah klien memiliki pinjamanan perumahan |
| loan | Kategorikal | Status apakah klien memiliki pinjaman pribadi |
| contact | Kategorikal | Jenis komunikasi kontak terakhir |
| month | Kategorikal | Bulan kontah terakhir dengan klien dalam tahun ini |
| day_of_week | Kategorikal | hari dalam seminggu kontak terakhir dengan klien |
| duration | Numerikal | Durasi kontak terakhir dengan klien dalam detik |
| campaign | Numerikal | Jumlah kontak yang dilakukan selama kampanye ini dan untuk klien ini |
| pdays | Numerikal | Jumlah hari sejak klien terakhir kali dihubungi dari kampanye sebelumnya |
| previous | Numerikal | Jumlah kontak yang dilakukan sebelum kampanye ini dan untuk klien ini |
| poutcome | Kategorikal | Hasil dari kampanye pemasaran sebelumnya  |
| emp.var.rate | Numerikal | Tingkat variasi pekerjaan |
| cons.price.idx  | Numerikal | Indeks harga konsumen |
| cons.conf.idx  | Numerikal | Indeks kepercayaan konsumen |
| euribor3m | Numerikal | Tingkat euribor 3 bulan |
| nr.employed | Numerikal | Jumlah karyawan |
| y | Kategorikal | Status apakah klien telah berlangganan deposito berjangka? |

### **2. Kategori Fitur**

In [8]:
categorical_summary = df.select_dtypes(include='object').nunique().sort_values(ascending=False)

categorical_summary

job            12
month          10
education       8
day_of_week     5
marital         4
default         3
housing         3
loan            3
poutcome        3
contact         2
y               2
dtype: int64

| Kolom         | Jumlah Kategori Unik |
| ------------- | -------------------- |
| job           | 12                   |
| month         | 10                   |
| education     | 8                    |
| day\_of\_week | 5                    |
| marital       | 4                    |
| default       | 3                    |
| housing       | 3                    |
| loan          | 3                    |
| poutcome      | 3                    |
| contact       | 2                    |
| y (target)    | 2 (`yes`, `no`)      |

In [11]:
unique_jobs = df['job'].unique()

unique_jobs

array(['housemaid', 'services', 'admin.', 'blue-collar', 'technician',
       'retired', 'management', 'unemployed', 'self-employed', 'unknown',
       'entrepreneur', 'student'], dtype=object)

#### **2.1. Kategori Fitur: `job`**

In [12]:
# Menghitung jumlah masing-masing kategori pada kolom 'job'
job_counts = df['job'].value_counts().reset_index()

# Ubah nama kolom agar lebih informatif
job_counts.columns = ['Job', 'Total']

# Tampilkan tabel
print(job_counts)

              Job  Total
0          admin.  10422
1     blue-collar   9254
2      technician   6743
3        services   3969
4      management   2924
5         retired   1720
6    entrepreneur   1456
7   self-employed   1421
8       housemaid   1060
9      unemployed   1014
10        student    875
11        unknown    330

#### **2.2. Kategori Fitur: `month`**

In [14]:
# Hitung jumlah masing-masing bulan
month_counts = df['month'].value_counts().reset_index()
month_counts.columns = ['Month', 'Total']

# Buat urutan bulan yang benar
month_order = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 
               'jul', 'aug', 'sep', 'oct', 'nov', 'dec']

# Filter hanya bulan yang ada di data, lalu urutkan sesuai urutan kalender
month_counts = month_counts[month_counts['Month'].isin(month_order)]
month_counts['Month'] = pd.Categorical(month_counts['Month'], categories=month_order, ordered=True)
month_counts = month_counts.sort_values('Month')

# Tampilkan tabel
print(month_counts)

  Month  Total
8   mar    546
5   apr   2632
0   may  13769
3   jun   5318
1   jul   7174
2   aug   6178
7   sep    570
6   oct    718
4   nov   4101
9   dec    182

#### **2.3. Kategori Fitur: `education`**

In [15]:
# Menghitung jumlah masing-masing kategori pada kolom 'education'
education_counts = df['education'].value_counts().reset_index()

# Ubah nama kolom agar lebih informatif
education_counts.columns = ['Education', 'Total']

# Tampilkan tabel
print(education_counts)

             Education  Total
0    university.degree  12168
1          high.school   9515
2             basic.9y   6045
3  professional.course   5243
4             basic.4y   4176
5             basic.6y   2292
6              unknown   1731
7           illiterate     18

#### **2.4. Kategori Fitur: `day_of_week`**

In [18]:
# Hitung jumlah masing-masing hari
day_of_week_counts = df['day_of_week'].value_counts().reset_index()
day_of_week_counts.columns = ['Day Of Week', 'Total']

# Buat urutan hari kerja
day_order = ['mon', 'tue', 'wed', 'thu', 'fri']

# Ubah ke kategori bertipe urutan dan urutkan
day_of_week_counts['Day Of Week'] = pd.Categorical(day_of_week_counts['Day Of Week'], categories=day_order, ordered=True)
day_of_week_counts = day_of_week_counts.sort_values('Day Of Week')

# Tampilkan tabel
print(day_of_week_counts)

  Day Of Week  Total
1         mon   8514
3         tue   8090
2         wed   8134
0         thu   8623
4         fri   7827

#### **2.5. Kategori Fitur: `marital`**

In [20]:
# Menghitung jumlah masing-masing kategori pada kolom 'marital'
marital_counts = df['marital'].value_counts().reset_index()

# Ubah nama kolom agar lebih informatif
marital_counts.columns = ['Marital', 'Total']

# Tampilkan tabel
print(marital_counts)

    Marital  Total
0   married  24928
1    single  11568
2  divorced   4612
3   unknown     80

#### **2.6. Kategori Fitur: `default`**

In [21]:
# Menghitung jumlah masing-masing kategori pada kolom 'default'
default_counts = df['default'].value_counts().reset_index()

# Ubah nama kolom agar lebih informatif
default_counts.columns = ['Default', 'Total']

# Tampilkan tabel
print(default_counts)

   Default  Total
0       no  32588
1  unknown   8597
2      yes      3

#### **2.7. Kategori Fitur: `housing`**

In [22]:
# Menghitung jumlah masing-masing kategori pada kolom 'housing'
housing_counts = df['housing'].value_counts().reset_index()

# Ubah nama kolom agar lebih informatif
housing_counts.columns = ['Housing', 'Total']

# Tampilkan tabel
print(housing_counts)

   Housing  Total
0      yes  21576
1       no  18622
2  unknown    990

#### **2.8. Kategori Fitur: `loan`**

In [23]:
# Menghitung jumlah masing-masing kategori pada kolom 'loan'
loan_counts = df['loan'].value_counts().reset_index()

# Ubah nama kolom agar lebih informatif
loan_counts.columns = ['Loan', 'Total']

# Tampilkan tabel
print(loan_counts)

      Loan  Total
0       no  33950
1      yes   6248
2  unknown    990

#### **2.9. Kategori Fitur: `poutcome`**

In [24]:
# Menghitung jumlah masing-masing kategori pada kolom 'poutcome'
poutcome_counts = df['poutcome'].value_counts().reset_index()

# Ubah nama kolom agar lebih informatif
poutcome_counts.columns = ['Poutcome', 'Total']

# Tampilkan tabel
print(poutcome_counts)

      Poutcome  Total
0  nonexistent  35563
1      failure   4252
2      success   1373

#### **2.10. Kategori Fitur: `contact`**

In [25]:
# Menghitung jumlah masing-masing kategori pada kolom 'contact'
contact_counts = df['contact'].value_counts().reset_index()

# Ubah nama kolom agar lebih informatif
contact_counts.columns = ['Contact', 'Total']

# Tampilkan tabel
print(contact_counts)

     Contact  Total
0   cellular  26144
1  telephone  15044

#### **2.11. Kategori Fitur: `y`**

In [26]:
# Menghitung jumlah masing-masing kategori pada kolom 'y'
y_counts = df['y'].value_counts().reset_index()

# Ubah nama kolom agar lebih informatif
y_counts.columns = ['Y', 'Total']

# Tampilkan tabel
print(y_counts)

     Y  Total
0   no  36548
1  yes   4640

### **3. Duplikat Data**

In [9]:
duplicate_rows = df.duplicated().sum()

duplicate_rows

12

### **Missing Value**

In [4]:
missing_values = df.isnull().sum()
missing_values

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

| Kolom         | Jumlah Kategori Unik |
| ------------- | -------------------- |
| job           | 12                   |
| month         | 10                   |
| education     | 8                    |
| day\_of\_week | 5                    |
| marital       | 4                    |
| default       | 3                    |
| housing       | 3                    |
| loan          | 3                    |
| poutcome      | 3                    |
| contact       | 2                    |
| y (target)    | 2 (`yes`, `no`)      |