# **Bank marketing campaigns**

## Disusun Oleh: 
###             1. CHRISTIAN TJOPUTERA
###             2. Ahmad Zaid Makarim
###             3. Ronny Sahat Martua Purba

## **Business Problem Understanding**

### **Latar Belakang**

Sebuah bank di Eropa sedang melakukan **kampanye pemasaran** untuk mempromosikan produk **deposito berjangka (*term deposit*)** kepada calon nasabah. Mereka menggunakan  **panggilan telepon (*telemarketing*)** untuk menjangkau nasabah, dan ingin meningkatkan efektivitas kampanye tersebut.

Ini adalah dataset dari kampanye pemasaran bank, biasanya digunakan untuk klasifikasi apakah seorang nasabah akan berlangganan deposito berjangka (y: yes/no).

### **Permasalahan Utama**

Telemarketing adalah metode yang memakan banyak biaya dan waktu, apalagi jika banyak panggilan tidak menghasilkan konversi. Maka, pertanyaan bisnisnya adalah:

**"Bagaimana cara mengidentifikasi nasabah yang berpotensi tertarik untuk berlangganan deposito berjangka sebelum melakukan panggilan telemarketing?"**

### **Tujuan Bisnis**

1. Meningkatkan efisiensi kampanye pemasaran telepon.

2. Mengurangi biaya operasional dengan meminimalkan panggilan ke nasabah yang kemungkinan besar akan menolak.

3. Meningkatkan rasio konversi dari kampanye menjadi pelanggan deposito.

### **Keluaran yang Diinginkan**

Model atau analisis yang dapat:

1. Memprediksi apakah seorang nasabah akan berkata "yes" terhadap penawaran deposito.

2. Memberikan rekomendasi segmentasi pelanggan yang lebih berpeluang dikonversi.

### **Nilai Bisnis**

1. Penghematan biaya dari kampanye yang lebih terarah.

2. Peningkatan profit dari pelanggan yang lebih banyak membeli produk deposito.

3. Efisiensi tenaga kerja dalam tim marketing.

### **Peran Data Science**
Peran Data Science
Data science dapat membantu dengan:

1. **EDA (*Exploratory Data Analysis*)** untuk memahami karakteristik nasabah yang berkata “yes”.

2. **Model prediksi (*machine learning*)** untuk memfilter target kampanye.

3. ***Insight* visualisasi** untuk mendukung strategi pemasaran berbasis data.

## **Data Understanding**

### **Sumber Data**
Dataset source: https://www.kaggle.com/datasets/volodymyrgavrysh/bank-marketing-campaigns-dataset/code

In [4]:
import pandas as pd

In [5]:
file_path = "../data/bank-additional-full.csv"
df = pd.read_csv(file_path, sep=';')

In [10]:
df_shape = df.shape
df_dtypes = df.dtypes
df_head = df.head()

In [7]:
df_shape

(41188, 21)

In [11]:
df_dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

In [12]:
df_head

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

## ATRIBUT INFORMATION

| Attribute | Data Type | Description |
| --- | --- | --- |
| age | Numerik | Usia klien |
| job | Kategorikal | Jenis Pekerjaan Klien |
| marital | Kategorikal | Status Pernikahan Klien |
| education | Kategorikal | Tingkat pendidikan klien |
| default | Kategorikal | Status kredit klien |
| hosuing | Kategorikal | Status apakah klien memiliki pinjamanan perumahan |
| loan | Kategorikal | Status apakah klien memiliki pinjaman pribadi |
| contact | Kategorikal | Jenis komunikasi kontak terakhir |
| month | Kategorikal | Bulan kontah terakhir dengan klien dalam tahun ini |
| day_of_week | Kategorikal | hari dalam seminggu kontak terakhir dengan klien |
| duration | Numerikal | Durasi kontak terakhir dengan klien dalam detik |
| campaign | Numerikal | Jumlah kontak yang dilakukan selama kampanye ini dan untuk klien ini |
| pdays | Numerikal | Jumlah hari sejak klien terakhir kali dihubungi dari kampanye sebelumnya |
| previous | Numerikal | Jumlah kontak yang dilakukan sebelum kampanye ini dan untuk klien ini |
| poutcome | Kategorikal | Hasil dari kampanye pemasaran sebelumnya  |
| emp.var.rate | Numerikal | Tingkat variasi pekerjaan |
| cons.price.idx  | Numerikal | Indeks harga konsumen |
| cons.conf.idx  | Numerikal | Indeks kepercayaan konsumen |
| euribor3m | Numerikal | Tingkat euribor 3 bulan |
| nr.employed | Numerikal | Jumlah karyawan |
| y | Kategorikal | Status apakah klien telah berlangganan deposito berjangka? |

In [ ]:
#testing